@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&display=swap');

@layer base{
    body {
        @apply bg-[#CAD8D2];
    }
    li {
        @apply px-3;
        @apply cursor-pointer;
        @apply font-[Bebas-Neue]           
        }
    p {
        @apply font-[Cinzel];
        @apply text-[#56615c]
    }
    }

    .bg-Img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 300px;
    }


